<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <input type="text" name="coach"></br>

   </form>
 </body>
</html>
